@media (max-width: 600px) {
    .header-main{
        width: 100%;
        padding: 0.5em 1em;
        z-index: 1;
        gap: 1em;
        background-color: var(--primary);
        justify-content: space-between;
    }
    
    .header-nav .header-ham,
    .header-nav .header-logo h1{
        display: none;
    }

    .header-searchbar{
        background-color: var(--secondary-alt);
        justify-content: space-between;
        padding: 0.2em 1em;
        height: 2.2em;
        /* width: 15em; */
        border-radius: 0.5em;
    }

    .header-searchbar button{
        background: none;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #search{
        border: none;
        outline: none;
        background-color: var(--secondary-alt);
        color: var(--text);
        font-size: 1em;
        height: 100%;
        width: 100%;
    }
    
    .header-profile .profile-icon{
        background-color: var(--secondary-alt);
        padding: 0.5em;
        border-radius: 100%;
    }
    
    .header-profile .profile-icon svg{
        display: block;
    }

    [data-profile="true"]{
        position: relative;
        /* transition: 0.3s ease-in-out; */
    }

    [data-profile="true"]>.profile-icon{
        visibility: hidden;
    }
    
    [data-profile="true"] .profile-expand{
        display: block !important;
        width: 15em;
        height: 30em;
        background-color: var(--secondary);
        color: var(--text);
        position: absolute;
        top: 2em;
        right: 0.1em;
        margin: 1em;
        border: 1em solid var(--secondary);
        border-radius: 0.5em;
        z-index: 3;
    }

    .profile-expand .profile-name{
        justify-content: space-evenly;
        font-size: 1.1em;
        position: relative;
        padding-top: 0.5em;
    }

    .profile-expand .profile-close{
        position: absolute;
        top: 0em;
        right: 0em;
        cursor: pointer;
    }

    .profile-expand .profile-links{
        margin-top: 2em;
        gap: 1em;
    }
    
    .profile-expand .profile-links a{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        width: 100%;
        padding: 0.4em 1.5em;
        border-radius: 0.5em;
        transition: 0.2s ease-in-out;
        text-decoration: none;
        color: var(--text);
    }

    .profile-expand .profile-links a:hover{
        background-color: var(--secondary-alt);
    }

    .profile-expand .profile-footer{
        position: absolute;
        bottom: 0em;
        /* padding: 1em; */
        width: 100%;
        font-size: 0.8em;
        text-align: center;
        /* border-top: 1px solid var(--text-light); */
    }
}