@media (max-width: 1100px){
    .header-nav{
        justify-content: start;
    }

    .header-nav .header-logo h1{
        display: none;
    }

    .header-searchbar{
        min-width: 10em;
    }
}

@media (min-width: 396px){
    .header-main{
        --side-gap: 16em;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.5em 1.8em;
        z-index: 1;
        background-color: var(--primary);
        justify-content: space-between;
    }
    
    .header-nav .header-logo h1{
        font-size: 1.6em;
    }
    
    .header-ham, .header-logo{
        cursor: pointer;
    }
    
    .header-searchbar{
        background-color: var(--secondary-alt);
        justify-content: space-between;
        padding: 0.2em 1em;
        height: 2.5em;
        width: 100%;
        max-width: 25em;
        margin: 0 2em;
        border-radius: 0.5em;
    }
    
    #search{
        width: 100%;
        border: none;
        outline: none;
        background-color: var(--secondary-alt);
        color: var(--text);
        font-size: 1em;
        height: 2em;
    }
    
    .header-searchbar .search-icon{
        cursor: pointer;
    }
    
    .header-profile .profile-icon{
        /* position: absolute;
        right: 1.8em; */
        background-color: var(--secondary-alt);
        padding: 0.5em;
        border-radius: 100%;
        cursor: pointer;
    }
    
    .header-profile .profile-icon svg{
        display: block;
    }
}


