@media (min-width: 601px){
    .sidebar-main{
        position: fixed;
        left: 0;
        height: 100%;
        width: 14em;
        padding: 1em 1.5em;
        justify-content: start;
        background-color: var(--primary);
        transition: 0.3s ease-in-out;
    }
    
    [data-expand="false"]{
        width: 6.3em;
    }
    
    [data-expand="false"] .sidebar-nav span{
        width: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s ease-in-out;
    }
    
    .sidebar-nav{
        cursor: pointer;
        width: 100%;
        justify-content: start;
        padding: 0.5em 0.7em;
        border-radius: 0.5em;
        text-decoration: none;
        color: var(--text);
        transition: 0.2s ease-in-out;
    }
    
    .sidebar-nav .nav-icon svg{
        display: block;
    }
    
    .sidebar-nav.active{
        background-color: var(--secondary-alt);
    }
    
    .sidebar-nav:hover{
        background-color: var(--secondary-alt);
    }
    
}